{% extends "base.html" %}
{% block title %}
Go
{% endblock %}
{% block content %}
<section class="section">
    <h1>TASKS</h1>
</section>
<section class="center" id="task-section" width="100%">
    <form method="POST" action="/job/result">
    {% for task in tasks %}
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="{{ task.name }}" name="data" value="{{ task.name }}">
        <label class="form-check-label" for="{{ task.name }}">{{ task.description }}</label>
    </div>
    {% endfor %}
    <div algin="center">
        <button type="submit" class="btn btn-primary">Go</button>
    </div>
    </form>
</section>
{% endblock %}