{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<h1>This is the home page</h1>
<h1 align="center">Inventories</h1>
<ul class="list-group list-group-flush" id="inventories">
    {% for inventory in user.inventories %}
    <a href="/inventory/{{ inventory.name }}"><li class="list-group-item">{{ inventory.name }}></a></list>
        <button type="button" class="btn-close" onClick="deleteInventory({{ inventory.id }})" aria-label="Close"></button>
    {% endfor %}
</ul>
<form method="POST">
    <label for="name">Name:</label><br>
    <input type="text" id="inventoryName" name="inventoryName"><br>
    <textarea name="inventory" id="inventory" class="form-control"></textarea>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add inventory</button>
    </div>
</form>
<div class="mb-3">
    <form  action="/upload" method="POST" enctype="multipart/form-data">
        <label for="formFile" class="form-label">Add your inventory</label>
        <input class="form-control" type="file" id="formFile" name="file">
        <input type="submit" class="btn btn-primary" value="Upload">
    </form>
</div>
{% endblock %}
