{% extends "base.html" %}
{% block title %}
Login
{% endblock %}
{% block content %}
<h1>This is the login page</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <h3 align="center">Login</h3>
    <div class="form-group">
        {{ form.email.label }}
        {{ form.email(type="email", class="form-control", id="email", placeholder="Enter email" ) }}
        {{ form.password.label }}
        {{ form.password(class="form-control", id="password", placeholder="Enter password" ) }}
    </div>
    <br />
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
