{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<h1>This is the inventory list page</h1>
<h3 align="center">Inventories</h3>
<br />
<ul class="list-group list-group-flush" id="inventories">
    {% for inventory in user.inventories %}
    <a href="/inventory/{{ inventory.name }}"><li class="list-group-item">{{ inventory.name }}></a></list>
    <button type="button" class="btn-close" onClick="deleteInventory({{ inventory.id }})" aria-label="Close"></button>
    {% endfor %}
</ul>
<br />
<form method="POST">
    {{ inventory_form.hidden_tag() }}
    {{ inventory_form.name.label }} {{ inventory_form.name() }}
    {{ inventory_form.inventory(class="form-control") }}
    <br />
    <div align="center">
        {{ inventory_form.submit(class="btn btn-primary") }}
    </div>
</form>
<br />
<form method="POST" enctype="multipart/form-data">
    {{ upload_form.hidden_tag() }}
    {{ upload_form.file.label }}
    {{ upload_form.file(class="form-control") }}
    {{ upload_form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
