{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<section class="section">
    <h1>DASHBOARD</h1>
</section>
<section class="row dashboard-head">
    <div class="col dashboard-box">
        HOSTS
        <a href="{{ url_for('device_bp.devices') }}">{{ num_devices }}</a>
    </div>
    <div class="col dashboard-box">
        FAILED HOSTS
        <a href="{{ url_for('job_bp.jobs') }}">{{ '-1' }}</a>
    </div>
    <div class="col dashboard-box">
        INVENTORIES
        <a href="{{ url_for('inventory_bp.inventories') }}">{{ num_inventories }}</a>
    </div>
    <div class="col dashboard-box">TASKS
        <a href="{{ url_for('job_bp.tasks') }}">{{ '-1' }}</a>
    </div>
</section>
{% endblock %}
