{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<h1 align="center">Inventory {{ inventory.name }}</h1>
<input type="text" name="search" id="search" placeholder="">
<table id="inventoryTable" class="table table-striped table-sortable">
    <thread>
        <tr>
            {% for key in keys %}
            <th>{{ key }}</th>
            {% endfor %}
        </tr>
    </thread>
    <tbody>
        {% for i in values %}
        <tr>
            {% for key in values[i].keys() %}
            <td>{{ values[i][key] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<br />
<form method="POST">
    <textarea name="data" id="data" class="form-control">{{ inventory.data }}</textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Modify inventory</button>
    </div>
</form>
{% endblock %}