{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<h1 align="center">Inventory {{ inventory.name }}</h1>
<form method="POST">
    <textarea name="data" id="data" class="form-control">{{ inventory.data }}</textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Modify inventory</button>
    </div>
</form>
<button onclick="inventoryTable.getSelectedRows()">Get Selected Rows</button>
<div id="myGrid" class="ag-theme-alpine" style="width: 100;" name="{{ inventory.name }}"></div>
{% endblock %}